* {
  margin: 0;
  padding: 0;
  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cappymons {
  width: 100%;
}
.mikros {
  width: 100%;
}
.cappyorgan {
  width: 100%;
}
.sharecappy {
  width: 100%;
}
.style {
  align-items: center;
  display: flex;
  justify-content: center;
}

.btnstyle {
  margin-top: 25px;
  width: 100px;
}
